@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

p, button {
    font-family: 'Lexend Deca', sans-serif;
}

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

/* npx tailwindcss -i ./input.css -o ./dist/output.css --watch */